/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 14, 2014, 8:51:03 PM
    Author     : HLN Consulting, LLC
*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.iceLogo {
    float:left;
    background-image: url(images/iceLogo.png);
    height:40px;
    width:120px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    position:absolute;
}
.iceGridCell {
    /*height:50px;*/
    font-size: 10px;
    font-weight: normal;
}
.iceEvalSquare {
    font-size: 12px;
    border: 1px solid #bbb;
    padding: 5px;
    min-width: 150px;
    min-height: 70px;
    line-height: 16px;
    position:relative;
    margin-bottom: 5px;
    margin-right: 4px;
    float:left;
}
.iceEvalTable {
}
.iceDisease {
    background-color: rgb(255, 241, 184);
}
.iceEvalFalse {
    background-color: rgb(253, 248, 249);
}
.iceEvalTrue {
    background-color: rgb(236, 252, 240);
}
.iceRecommended {
    background-color: rgb(222, 223, 243);
}
.iceRecSquare {
    font-size: 12px;
    border: 1px solid #bbb;
    padding: 5px;
    min-width: 100px;
    min-height: 70px;
    line-height: 16px;
    position:relative;
}
.icePatSquare {
    font-size: 14px;
    border: 1px solid #bbb;
    padding: 5px 5px 0px 5px;
    line-height: 16px;
    position:relative;
    background-color: #eee;
}
.immunizationPopup {
}
.icePopup {
    position:absolute;
    top: -3px;
    right: -4px;
}
.izTable {
    font-size:10px;
}
.izPopup {
    width:200px;
}
.izPopup section h3 {
    font-size: 10px;
    margin: 5px 0;
}
.izPopup ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.izPopup ul li {
    padding-left: 15px;
    font-size: 10px;
}
.izTypeSelect .ui-select {
    margin-top:9px;
}
.ui-popup.ui-content {
    background-color: #eee;
}
.floatRight {
    position: absolute;
    right: 5px;
    bottom: 0px;
}
.inline-label {
    color: mediumblue;
}
.floatLeft {
    margin-left:4px;
    float:left;
}

.icePatLabel {
    font-weight:bold;
    float:left;
    text-align:right;
    width:150px;
}
.icePatData {
    float:left;
}
.floatLeft100 {
    width:100%;
    float:left;
    margin-bottom:10px;
}
.formLabel {
    font-weight:bold;
    text-align:right;
    width:150px;
}
@-moz-document url-prefix() {
    .importPatientButton {
        right: 130px;
    }
}

.patCaption {
    width:100px;
}
.ui-table caption {
    margin-bottom:4px;
    margin-left:12px;
}
.ui-widget-header .ui-icon {
    background-image:none;
}